@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&family=Raleway:wght@400;600;700&display=swap');

body {
  margin: 0;
 overflow: hidden;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/bg.jpg") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-position: ; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  
}

code {
  font-family: 'Inter', sans-serif;
font-family: 'Raleway', sans-serif;
}
